<head>
  <title>Payment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <main class="page">
    <section class="checkout dark">
      <div class="container">
        <div class="block-heading">
          <h2>Checkout</h2>
        </div>
        <form>
          <div class="products">
            <h3 class="title">Your cart</h3>
            <div class="item">
              <span class="price">${{ chosenPlan.monthlyPrice }}<small class="text-muted fw-light">/mo</small></span>
              <p class="item-name">{{ chosenPlan.planName }}</p>
              <p class="item-description">Plan</p>
            </div>
            <div class="item">
              <span class="price">${{ chosenDevice.price/12 | number:'1.0-2' }}<small class="text-muted fw-light">/mo</small></span>
              <p class="item-name">{{ chosenDevice.type }}</p>
              <p class="item-description">Phone</p>
            </div>
            <div class="total">Total<span class="price">${{ chosenPlan.monthlyPrice + (chosenDevice.price/12) | number:'1.0-2' }}<small class="text-muted fw-light">/mo</small></span></div>
          </div>
          <div class="button">
            <div class="form-group col-sm-12">
              <button type="button" routerLink="/user" (click)="(addContract(newContract))" class="btn btn-primary btn-block">Proceed</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>
</body>