<div style="background-color: #e3f2fd;"class="container-fluid d-flex align-items-center">
  <nav class="navbar navbar-light" >
    <a href="#" class="navbar-brand">
      <h3 class="d-flex align-items-center">Login</h3>
    </a>
    <a (click)="login()" *ngIf="!isLoggedIn()"> Sign In</a>
    <a (click)="logout()" *ngIf="isLoggedIn()"> Logout </a>
    <!-- <button (click)="logout()"  class = "btn-secondary"> LOGOUT </button> -->
    <a href="/user">Go to User Page </a>
    <!-- <button href="/user"> Go to User Page</button> -->

    <!-- <a>
      <h3 class="d-flex align-items-center">About</h3>
    </a> -->
  </nav>
</div>

<div *ngIf="!isLoggedIn()"> 

<table>
  <tr>
    <!-- <td><button (click)="login()"> SIGN IN  </button></td> -->
  </tr>



</table>

</div> 

<router-outlet></router-outlet>