<div style="background-color: #e3f2fd;"class="container-fluid d-flex align-items-center">
  <nav class="navbar navbar-light" >
    <a (click)="login()" *ngIf="!isLoggedIn()" class="btn btn-primary">Sign In</a>
    <a (click)="logout()" *ngIf="isLoggedIn()" class="btn btn-primary">Logout</a>
    <a routerLink="/user" *ngIf="isLoggedIn()" class="btn btn-primary">Go to user page</a>
  </nav>
</div>
<div class="text-black" style="background-color: #e3f2fd">
  <h1 class="display-4 fw-bolder" style="text-align:center">SkillCom Mobile</h1>
  <br>
</div>
<router-outlet></router-outlet>