<div style="background-color: #e3f2fd;"class="container-fluid d-flex align-items-center">
  <nav class="navbar navbar-light" >
    <a href="#" class="navbar-brand">
      <h3 class="d-flex align-items-center">Login</h3>
    </a>
    <a (click)="login()" *ngIf="!isLoggedIn()" class="btn btn-primary"> Sign In</a>
    <a (click)="logout()" *ngIf="isLoggedIn()" class="btn btn-primary"> Logout </a>
    <a routerLink="/user" *ngIf="isLoggedIn()" class="btn btn-primary">Go to user page</a>
  </nav>
</div>
<div style = "text-align: center;background-color: #e3f2fd;">
<h3 style = "text-align: center; font-family: Times New Roman;font-size: 400%;text-emphasis-color: blue;"> SkillCom Mobile </h3>
</div>
<router-outlet></router-outlet>